<div class="col-sm-6">
  <div class="card" id="login_card">
    <div class="card-block">
      
        <div class="col-md-12">
          <h2 class="card-title label_session">CADASTRO UECE BANK SECURITY LTDA</h2>
        </div>
        <div class="form-horizontal form-material">
          <div class="col-lg-12 col-xlg-9 col-md-7">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group">
                <%= f.label :email %><br />
                <div class="col-md-12">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-line" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label 'CPF', style: 'text-transform: uppercase;' %><br />
                <%= f.text_field :cpf, class: "form-control form-control-line" %>
              </div>

              <div class="form-group">
                <%= f.label 'Nome' %><br />
                <div class="col-md-12">
                  <%= f.text_field :name, class: "form-control form-control-line" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label "Curso" %><br/>
                <div class="col-md-12">
                  <%= f.select :course_id, options_from_collection_for_select(Course.all, :id, :name, @student.course_id), {},  class: "form-control form-control-line" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <div class="col-md-12">
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-line" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-line" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
           </div>
        </div>

    </div>
  </div>
</div>
