<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">

        <div class="row">
          
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Entradas <%= Date.today.strftime("%d/%m/%Y") %> </h4>
                <div class="text-right">
                  <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> $120</h2>
                  <span class="text-muted">Crédito</span>
                </div>
                <span class="text-success">80%</span>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar"
                       style="width: 80%; height: 6px;" aria-valuenow="25" 
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                  <h4 class="card-title">Saídas <%= Date.today.strftime("%d/%m/%Y") %></h4>
                  <div class="text-right">
                      <h2 class="font-light m-b-0"><i class="ti-arrow-down text-danger"></i> $120</h2>
                      <span class="text-muted">Débito</span>
                  </div>
                  <span class="text-danger">80%</span>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" 
                         style="width: 80%; height: 6px;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>            
            </div>
          </div>

          <div class="col-sm-6", style="margin-top: 10em;">
            <h4 class="card-title" style="text-align: center;font-size: 4vw;">
              <b style="font-size:0.5em;">Saldo</b><br><br><br><%= number_to_currency_br(@student.balance) %>
            </h4>
          </div>

        </div>
      
      </div>
    </div>
  </div>
</div>