<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">

        <div class="col-md-12">
          <h6>Filtro por período</h6>
          <%= form_tag(client_backoffice_transactions_path, { method: :put, class: "form-inline" }) do %>
          <div class="form-group">
            <%= label_tag :date_in, "Início" %>
            <%= date_field_tag :date_in, Date.today.strftime("%d-%m-%Y"), class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :date_out, "Final" %>
            <%= date_field_tag :date_out, Date.today.strftime("%d-%m-%Y"), class: "form-control" %>
          </div>
          <%= submit_tag "Filtrar", class: "btn btn-default" %>
          <% end %>
        </div>

        <div class="table-responsive m-t-40">
          <table class="table stylish-table">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Data</th>
                <th>De/Para</th>
              </tr>
            </thead>

            <tbody>
              <% @extract.each do |chek| %>
                <tr>
                  <td ><%= chek.class.name %></td>
                  <td><%= chek.recipient == current_student ? '+ ' : '- '  %><%= number_to_currency_br(chek.value) %></td>
                  <td><%= date_br(chek.created_at) %></td>
                  <td><%= chek.recipient.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
