<%= form_for [:client_backoffice, @transaction] do |form| %>
  <% if @transaction.errors.any? %>
    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
        <span class="badge badge-pill badge-danger">Erro</span>
        <% @transaction.errors.full_messages.each do |error|%>
            <li><%= error %></li>
        <% end %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
  <%end %>

  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <h2 class="card-title">Transferência</h2>

        <div class="form-horizontal form-material">
          <div class="row">
            
            <div class="form-group col-md-4">
              <%= form.label 'Seu saldo', class: "col-md-12 label_session"  %>
              <div class="col-md-12">
                <%= form.text_field '',
                  value: number_to_currency_br(current_student.balance),
                  class: "form-control form-control-line",
                  disabled: true 
                %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <%= form.label 'Número da conta', class: "col-md-12 label_session"  %>
              <div class="col-md-12">
                <%= form.text_field :number_account_recipient, class: "form-control form-control-line", maxlength: 7, size: 7 %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <%= form.label 'CPF', class: "col-md-12 label_session"  %>
              <div class="col-md-12">
                <%= form.text_field :cpf_recipient, class: "form-control form-control-line", maxlength: 11, size: 11 %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <%= form.label 'Valor', class: "col-md-12 label_session"  %>
              <div class="col-md-12">
                <%= form.number_field :value, class: "form-control form-control-line" %>
              </div>
            </div>

          </div>
        </div>

        <div class="actions">
          <%= form.submit 'Transferir', class:"btn btn-success"%>
        </div>

      </div>
    </div>
  </div>
<% end %>
