<div class="col-sm-6">
  <div class="card" id="login_card">
    <div class="card-block">
      
        <div class="col-md-12">
          <h2 class="card-title label_session">UECE BANK SECURITY LTDA</h2>
        </div>
        <div class="form-horizontal form-material">
          <div class="col-lg-12 col-xlg-9 col-md-7">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="form-group">
                <%= f.label :email %><br />
                <div class="col-md-12">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-line" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label 'Número da conta' %><br />
                <div class="col-md-12">
                  <%= f.text_field :number_account, autofocus: true, class: "form-control form-control-line" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label 'Senha' %><br />
                <div class="col-md-12">
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-line" %>
                </div>
              </div>

              <div class="form-group">
                  <%= render "devise/shared/links"%>
              </div>

              <div class="actions">
                <%= f.submit 'Entrar', class:"btn btn-info" %>
              </div>
            <% end %>
          </div>
        </div>

    </div>
  </div>
</div>