
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="slimScrollDiv">
    <!-- Sidebar navigation-->
    <div class="scroll-sidebar">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <span>
            <h2>UECE BANK</h2>
          </span>
        </a>
      </div>
      <nav class="sidebar-nav active">
        <ul id="sidebarnav" class="in">
          <li>
            <a href="" class="waves-effect"><b>Nº Conta: <%= current_student.number_account %></b></a>
          </li>
          <li>
            <a href="/" class="waves-effect"><i class="fa fa-bar-chart-o m-r-10" aria-hidden="true"></i>Dashboard</a>
          </li>
          <li>
            <%=  link_to client_backoffice_transactions_path, class: "waves-effect"  do %>
              <i class="fa fa-money m-r-10" aria-hidden="true"></i>Extrato
            <%end%>
          </li>
          <li>
            <%=  link_to new_client_backoffice_transaction_path, class: "waves-effect"  do %>
              <i class="fa fa-table m-r-10" aria-hidden="true"></i>Transferência
            <%end%>
          </li>
        </ul>
        <p class="navbar-text">
          <% if student_signed_in? %>
            <%= link_to "Logout", destroy_student_session_path, method: :delete, class: "waves-effect" %>
          <%end%>
        </p>
      </nav>
    </div>
  </div>
</aside>