<% if student_signed_in? %>
  <html>
    <head>
      <title>UECE BANK SECURITY LTDA</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="fix-header fix-sidebar card-no-border">
      <div id="main-wrapper">
          <%= render 'layouts/sidemenu' %>
          <div class="page-wrapper" style="min-height: 263px;">
            <div class="container-fluid">
              <div class="card-block">
                <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
                <% end %>
                <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
                <% end %>
                <%= yield %>
              </div>
            </div>
          </div>
      </div>
    </body>

    <footer class="footer text-center">
      © <%= Time.now.year %> SECURITY WEBSITE UECE BANK LTDA - BETA 2.0.0
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </html>

<%else%>
  <html style="height: 100%;margin: 0;background-image: url(/back2.jpg);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;top:0%;">
    <head>
      <title>UECE BANK</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body style="background: #54657a00;">
        <div class="login">
          <div class="bg">
            <%= yield %>
          </div>
        </div>
    </body>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </html>
<%end%>
